<mat-toolbar color="blue">
    <span>Elderly Person Meal Plan</span>
</mat-toolbar>

<!DOCTYPE html>

<html>

    <head>

        <title>Elderly Person Meal Plan </title>

    </head>

    <body>

        <form>

            <table>

                <tr>

                    <td><b>Breakfast</b></td>

                    <td>High fibre cereal (like Weetabix, bran flakes, Shreddies, muesli, porridge,<br>

                        etc) + 200ml skimmed milk + 1 tsp sugar<br>

                        200ml fruit juice<br>

                        Mug tea/coffee</td>

                </tr>

                <tr>

                    <td><b>Mid-morning</b></td>

                    <td>2 digestive biscuits<br>

                        Item fruit <br>

                        Drink</td>

                </tr>

                <tr>

                    <td><b>Lunch</b></td>

                    <td>Sandwich: 2 slices granary bread + olive oil-based spread + slice<br>

                        chicken/ham or 2 eggs (poached / scrambled / boiled) + 2 slices wholemeal toast<br>

                        Mixed salad<br>

                        Low fat / low sugar yoghurt<br>

                        Drink </td>

                </tr>

                <tr>

                    <td><b>Mid-afternoon</b></td>

                    <td>

                        Item fruit<br>

                        Drink</td>

                </tr>

                <tr>

                    <td><b>Evening Meal</b></td>

                    <td>Medium chicken breast or 200g white fish (cod / haddock / plaice / hake) or<br>

                        lean cut beef / pork / lamb<br>

                        and 1 medium jacket potato or 3-4 small boiled potatoes / mashed potato<br>\

                        and loads of veg<br>

                        Gravy – optional<br>

                        Tinned or stewed fruit<br>

                        Drink water

                    </td>

                    </tr>

                    <tr>

                        <td><b>Evening</b></td>

                        <td>

                             Hot Milky Drink

                        </td>

                        </tr>

            </table>

        </form>

    </body>

</html>

 
