<mat-toolbar color="blue">
    <span>Children Meal Plan</span>
</mat-toolbar>

<!DOCTYPE html>
<html>
    <head>
        <title>Children Meal Plan</title>
    </head>
    <body>
        <form>
            <table>
                <tr>
                    <td><b>Breakfast</b></td>
                    <td>High fibre cereal (like Weetabix, Shreddies or porridge – avoid sugar coated cereal)<br> + skimmed milk (preferably no additional sugar although<br> a very light sprinkling would be acceptable)
                        1-2 slices granary bread (toasted) + olive oil based spread + jam / peanut butter<br>
                        200ml fresh fruit juice</td>
                </tr>
                <tr>
                    <td><b>Mid-morning</b></td>
                    <td>1-2 wholewheat biscuits (e.g. oatcakes, digestive)<br>
                        Item fruit Drink</td>
                </tr>
                <tr>
                    <td><b>Lunch</b></td>
                    <td>Sandwich: 2 slices wholemeal + butter + chicken/ham or tuna in low fat<br> 
                        natural yoghurt or cheese 
                        Chopped carrot / cucumber / celery in a bowl Yoghurt<br>
                        1 square home-made easy flapjack<br>
                        Drink water or diluted high-juice cordial</td>
                </tr>
                <tr>
                    <td><b>Mid-afternoon</b></td>
                    <td>Item fruit Drink</td>
                </tr>
                <tr>
                    <td><b>Home from School</b></td>
                    <td>High fibre cereal (like Weetabix, Shreddies or porridge – avoid sugar coated cereal)<br>
                        skimmed milk or 2 slices granary bread (toasted)<br>
                        olive oil based spread + jam / peanut butter Drink</td>
                </tr>
                <tr>
                    <td><b>Evening Meal</b></td>
                    <td>Typical family meal e.g.: 100-120g chicken breast / lean meat / white fish<br>
                        3-4 tbsp cooked basmati rice or 60g cooked pasta or<br>
                        small potato mashed/boiled/jacket Cooked veg Drink</td>
                </tr>
                <tr>
                    <td><b>Evening</b></td>
                    <td>
                        1 square home-made easy flapjack Item fruit Drink
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>

