<mat-toolbar color="blue">
    <span>Female Adult Meal Plan</span>
</mat-toolbar>
<!DOCTYPE html>
<html>
    <head>
        <title>Adult Female Meal Plan</title>
    </head>
    <body>
        <form>
            <table>
                <tr>
                    <td><b>Breakfast</b></td>
                    <td>High fibre cereal (like Weetabix, bran flakes, Shreddies, muesli, porridge, etc) + <br>
                        200ml skimmed milk + 1 tsp sugar<br>
                        200ml fruit juice<br>
                        Mug tea/coffee
                    </td>
                </tr>
                <tr>
                    <td><b>Mid-morning</b></td>
                    <td>Item fruit Drink</td>
                </tr>
                <tr>
                    <td><b>Lunch</b></td>
                    <td>Sandwich: 2 slices granary bread + olive oil-based spread + slice chicken/ham or tuna in low fat<br>
                        natural yoghurt or smoked salmon<br>
                        Mixed salad or salad with tuna/salmon /chicken/ham + crispbread<br>
                        Low fat / low sugar yoghurt
                    </td>
                </tr>
                <tr>
                    <td><b>Mid-afternoon</b></td>
                    <td>Small flapjack or cereal bar,Item fruit Drink</td>
                </tr>
                <tr>
                    <td><b>Evening Meal</b></td>
                    <td>120g chicken breast or 140g white fish or 120g lean meat and<br>
                        2-3 tblsp basmati rice or 2 cupfuls cooked pasta or 1 medium potato and loads of veg or large salad

                    </td>
                </tr>
                <tr>
                    <td><b>Evening</b></td>
                    <td>
                        Drink Item fruit
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>

