<mat-toolbar color="blue">
    <span>Toddler Meal Plan</span>
</mat-toolbar>

<!DOCTYPE html>
<html>
    <body>
        <!-- <h1 style="text-align: center"><b>Toddler Meal Plan</b></h1> -->
        <form>
            <table align="center">
                <tr>
                    <td><b>Breakfast</b></td>
                    <td>High fibre cereal (like Weetabix, Shreddies or porridge – but avoid sugar<br>
                         coated cereal) + full cream milk (preferably no additional sugar although a<br>
                        very light sprinkling would be acceptable)<br>
                        200ml fresh fruit juice</td>
                </tr>
                <tr>
                    <td><b>Mid-morning</b></td>
                    <td>1-2 wholewheat biscuits (e.g. oatcakes, digestive)<br>
                        Item fruit chopped up in a bowl<br>
                        200ml full cream milk</td>
                </tr>
                <tr>
                    <td><b>Lunch</b></td>
                    <td>Sandwich: 2 slices wholemeal + butter + thin slice chicken/ham or tuna in<br>
                        low fat natural yoghurt<br>
                        Chopped carrot and cucumber in a bowl
                        Yoghurt<br>
                        Drink water or diluted high-juice cordial</td>
                </tr>
                <tr>
                    <td><b>Mid-afternoon</b></td>
                    <td>1-2 wholewheat biscuits (e.g. oatcakes, digestive)<br>
                        Item fruit chopped up in a bowl<br>
                        200ml full cream milk</td>
                </tr>
                <tr>
                    <td><b>Evening Meal</b></td>
                    <td>Typical family meal e.g.: 40-50g chicken breast / lean meat / white fish<br>
                        2 tbsp cooked basmati rice or 40g cooked pasta or small potato mashed/boiled/jacket<br>
                        Tbsp cooked veg
                        Drink water or diluted high-juice cordial
                    </td>
                    </tr>
                    <tr>
                        <td><b>Evening</b></td>
                        <td>
                            Drink water or diluted high-juice cordial or milk
                        </td>
                        </tr>
            </table>
        </form>
    </body>
</html>

