<mat-toolbar color="blue">
    <span>Meal Plans for Different Age Groups</span>
</mat-toolbar>

<!DOCTYPE html>
<html>
    <div class="bg-img">
        <div class="container">
            <div class="toddler">
                <br>
                <a routerLink="/toddler" class="age">Toddler</a>
                <h2 style="text-indent:30px">After weaning, here's a plan for your child who's experimenting with different foods, ensuring he/she has optimal nutrition</h2>
            </div>
            <div class="children">
                <a routerLink="/children" class="age">Children</a>
                <h2 style="text-indent:30px">As your child get's older he/she will develop his/her own food habits; this plan is aimed at children from around 5 to 11-12 years old</h2>
            </div>
            <div class="adolescent">
                <a routerLink="/adolescent" class="age">Adolescent</a>
                <h2 style="text-indent:30px">This plan is aimed at parents responsible for adolescent kids, or the teenagers themselves looking to have a healthy, nutritious and convenient food intake</h2>
            </div>
            <div class="maleadult">
                <a routerLink="/madult" class="age">Male Adult</a>
                <h2 style="text-indent:30px">A hypothetical diet plan for a 'typical' male</h2>
            </div>
            <div class="femaleadult">
                <a routerLink="/fadult" class="age">Female Adult</a>
                <h2 style="text-indent:30px">A hypothetical diet plan for a 'typical' female</h2>
            </div>
            <div class="pregnancy">
                <a routerLink="/preg" class="age">Pregnancy</a>
                <h2 style="text-indent:30px">Healthy eating guidelines for pregnancy and a suitable meal plan for expectant mothers</h2>
            </div>
            <div class="elderlyperson">
                <a routerLink="/elderage" class="age">Elderly Person</a>
                <h2 style="text-indent:30px">A meal plan for an elderly person who is moderately active and in reasonable health</h2><br>
            </div>
        </div>
    </div>
</html>