<mat-toolbar color="blue">
    <span>Male Adult Meal Plan</span>
</mat-toolbar>

<!DOCTYPE html>

<html>

    <head>

        <title>Male Adult Meal Plan</title>

    </head>

    <body>

        <form>

            <table>

                <tr>

                    <td><b>Breakfast</b></td>

                    <td>High fibre cereal (like Weetabix, bran flakes, Shreddies, muesli, porridge,<br>

                        etc) + 200ml skimmed milk + 1 tsp sugar<br>

                        200ml fruit juice<br>

                        Mug tea/coffee</td>

                </tr>

                <tr>

                    <td><b>Mid-morning</b></td>

                    <td>2 oatcakes<br>

                        Item fruit <br>

                        Drink</td>

                </tr>

                <tr>

                    <td><b>Lunch</b></td>

                    <td>Sandwich: 2 slices granary bread + olive oil-based spread + slice<br>

                        chicken/ham or tuna in low fat natural yoghurt or smoked salmon<br>

                        Mixed Salad<br>

                        Low fat / low sugar yoghurt<br>

                        Drink </td>

                </tr>

                <tr>

                    <td><b>Mid-afternoon</b></td>

                    <td>2 Oatcakes<br>

                        Item fruit<br>

                        Drink</td>

                </tr>

                <tr>

                    <td><b>Evening Meal</b></td>

                    <td>180g chicken breast or 200g white fish or 180g lean meat and 3-4 tblsp<br>

                        basmati rice or 2 cupfuls cooked pasta or 1 medium potato<br>

                        and loads of veg or large salad

                    </td>

                    </tr>

                    <tr>

                        <td><b>Evening</b></td>

                        <td>

                            Drink<br>

                            2-3 oatcakes + low fat soft cheese

                        </td>

                        </tr>

            </table>

        </form>

    </body>

</html>

