<mat-toolbar color="blue">
    <span>Pregnancy Meal Plan</span>
</mat-toolbar>
<!DOCTYPE html>
<html>
    <head>
        <title>Pregnancy Meal Plan</title>
    </head>
    <body>
        <form>
            <table>
                <tr>
                    <td><b>Breakfast</b></td>
                    <td>High fibre cereal (porridge, no added sugar muesli, Shredded Wheat,<br>
                         Weetabix, etc) + 200ml skimmed milk<br>
                        and/or 1-2 slices granary bread with olive oil-based spread and natural jam,<br>
                         marmalade, honey<br>
                        250ml fruit juice</td>
                </tr>
                <tr>
                    <td><b>Mid-morning</b></td>
                    <td>1-2 oatcakes or rye crispbread<br>
                        Banana<br>
                        Tbsp sunflower seeds<br>
                        Drink water</td>                  
                </tr>
                <tr>
                    <td><b>Lunch</b></td>
                    <td>Sandwich: 2 slices granary bread + olive oil-based spread + cooked chicken<br>
                         breast, sliced ham, tuna or cheese or 3-4 oatcakes or<br>
                         rye crispbread with cottage cheese<br>
                        Mixed salad<br>
                        Low fat / low sugar yoghurt<br>
                        Drink water</td>                                    
                </tr>
                <tr>
                    <td><b>Mid-Afternoon</b></td>
                    <td>1-2 oatcakes or rye crispbread<br>
                        Banana<br>
                        Tbsp sunflower seeds<br>
                        Drink water</td>
                </tr>
                <tr>
                    <td><b>Evening Meal</b></td>
                    <td>Chicken breast or white fish or lean meat and (dry weight) basmati rice <br>
                        or wholewheat pasta or 5-6 small boiled new potatoes or sweet potato<br>
                        and loads of veg or large salad<br>
                        Gravy / sauce - optional<br>
                        Drink water</td>
                    </tr>
                    <tr>
                        <td><b>Evening</b></td>
                        <td>High fibre cereal (porridge, no added sugar muesli,<br>
                            Shredded Wheat, Weetabix, etc) + 200ml skimmed milk<br>
                            Drink water</td>
                        </tr>
            </table>
        </form>
    </body>
</html>
