<mat-toolbar color="blue">
    <span>Adolescent Meal Plan</span>
</mat-toolbar>
<!DOCTYPE html>
<html>
    <head>
        <title>Adolescent Meal Plan</title>
    </head>
    <body>
        <form>
            <table>
                <tr>
                    <td><b>Breakfast</b></td>
                    <td>High fibre cereal (like 2-3 Weetabix, Shreddies or porridge – avoid sugar coated cereal)<br>
                        + skimmed milk (preferably no additional sugar although a<br>
                        very light sprinkling would be acceptable)<br>
                        2-3 slices granary bread (toasted) + olive oil based spread + jam / peanut butter<br>
                        200ml fresh fruit juice</td>
                </tr>
                <tr>
                    <td><b>Mid-morning</b></td>
                    <td>1-2 wholewheat biscuits (e.g. oatcakes, digestive) or flapjack<br>
                        commercial / home-made easy flapjack<br>
                        Item fruit<br>
                        Drink</td>                        
                </tr>
                <tr>
                    <td><b>Lunch</b></td>
                    <td>Sandwich: 2-4 slices wholemeal / granary bread + olive oil based spread<br>
                        + chicken/ham or tuna in low fat natural yoghurt or cheese<br>
                        Chopped carrot / cucumber / celery in a bowl<br>
                        Yoghurt<br>
                        1 square home-made easy flapjack<br>
                        Drink water</td>                                              
                </tr>
                <tr>
                    <td><b>Mid-afternoon</b></td>
                    <td>1-2 wholewheat biscuits (e.g. oatcakes, digestive) or flapjack<br>
                        commercial / home-made easy flapjack<br>
                        Item fruit<br>
                        Drink</td>
                </tr>
                <tr>
                    <td><b>Evening Meal</b></td>
                    <td>Typical family meal e.g.: 120-150g chicken breast / lean meat / white fish<br>
                        5-6 tbsp cooked basmati rice or 600g cooked pasta or potatoes mashed/ boiled / jacket<br>
                        Cooked veg<br>
                        Drink</td>
                    </tr>
                    <tr>
                        <td><b>Evening snack</b></td>
                        <td>
                            High fibre cereal (like Weetabix, Shreddies or porridge – avoid sugar<br>
                            coated cereal) + skimmed milk<br>
                            or 2 slices granary bread (toasted) + olive oil based spread + jam / peanut butter<br>
                            Drink</td>
                        </tr>
                    <tr>
                      <td><b>Bedtime</b></td>
                      <td>
                        Drink<br>
                      </td>
                    </tr>
            </table>
        </form>
    </body>
</html>
